In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [3]:
import webbrowser
website = "https://en.wikipedia.org/wiki/NFL_win-loss_records"
webbrowser.open(website)

True

In [9]:
nfl_frame = pd.read_clipboard()

In [11]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

In [13]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2        Baltimore Ravens
3           Chicago Bears
4    New England Patriots
Name: Team, dtype: object

In [17]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

In [25]:
nfl_frame.loc[3]

Rank                            4
Team                Chicago Bears
GP                          1,469
Won                           793
Lost                          634
Tied[c]                    42 (1)
Pct.                        0.556
First NFL season             1920
Division                NFC North
Name: 3, dtype: object

In [29]:
nfl_frame.head(3)

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North

In [31]:
DataFrame(nfl_frame,cloumns= ["Team","First Season","Total Games","Stadium"]

KeyError: 'Stadium'

In [33]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied[c]', 'Pct.',
       'First NFL season', 'Division'],
      dtype='object')

In [41]:
DataFrame(nfl_frame,columns = ["Team","GP","Won","Stadium"])

                   Team     GP  Won  Stadium
0        Dallas Cowboys    981  562      NaN
1     Green Bay Packers  1,435  799      NaN
2      Baltimore Ravens    451  256      NaN
3         Chicago Bears  1,469  793      NaN
4  New England Patriots    983  541      NaN

In [51]:
# nfl_frame["Stadium"] = np.array(["a","b","c","d","e"])

In [47]:
# nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,a
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,b
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,c
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,d
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,e

In [63]:
 stad = Series(["s1","s2"],index = [3,1])

In [65]:
nfl_frame["Stadium"] = stad

In [67]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium,Stadiums
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,NaN,NaN
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,s2,s2
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,NaN,NaN
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,s1,s1
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,NaN,NaN

In [75]:
del nfl_frame["Stadiums"]

In [77]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,NaN
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,s2
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,NaN
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,s1
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,NaN